<div style="float: right; background-color: #eeeeee; margin: 24px; padding: 4px; border-radius: 4px; border: solid 1px silver; font-size: 80%;">
  <div>
    <b style="text-align: center;">Ruby News</b>
  </div>
  <div>
     <div style="padding: 6px;">
      <a href="http://rubyhabits.github.io">Vienna Ruby Habits - Wed, Dec 6th</a><br>
      Learning (and practing) Ruby &amp; friends together.
    </div>
     <div style="padding: 6px;">
      <a href="https://meetup.com/vienna-rb/events/245432241/">Vienna.rb Meetup #43 - Thu, Dec 7th</a><br>
      Blockchain! Blockchain! Blockchain!
    </div>
    <div style="padding: 6px;">
      <a href="http://euruko.org">European Ruby Conference (EuRuKo) 2018</a><br>
      Upcoming this summer in Vienna, Austria
    </div>
    <div style="padding: 6px; font-size: 80%;">
      <a href="https://github.com/planetruby/advent2017/blob/master/_includes/broadcasts.html">Add your event or news byte »</a>
    </div>                        
  </div>
</div>
