<div style="float: right; background-color: #eeeeee; margin: 24px; padding: 6px; border-radius: 4px; border: solid 1px silver; font-size: 80%;">

  <div style="text-align: center;">
    <b>Ruby 2.5 Upcoming - Dec 25th, 2017 - What's News?</b>
  </div>
  <div>
    <div style="padding: 6px;">
      <a href="https://docs.ruby-lang.org/en/trunk/NEWS.html">Ruby 2.5.0 Changes</a><br>
      Official changes since the 2.4.0 release
    </div>
    <div style="padding: 6px;">
      <a href="https://stdgems.org/2.5.0/">Standard Gems 2.5.0 - Default Gems, Bundled Gems</a><br>
      by Jan Lelis, Idiosyncratic Ruby
    </div>    
    
    <div style="padding: 6px;">
      <a href="https://blog.jetbrains.com/ruby/2017/10/10-new-features-in-ruby-2-5/">10 New Features in Ruby 2.5</a><br>
      by Junichi Ito, a Ruby programmer at SonicGarden.jp 
    </div>
    <div style="padding: 6px;">
      <a href="https://tom-lord.github.io/10-More-New-Features-In-Ruby-2.5/">10 More New Features in Ruby 2.5</a><br>
      by Tom Lord, Software Developer from London
    </div>

    <div style="padding: 6px;">
      <a href="http://www.rubyguides.com/2017/11/ruby-2-5-performance/">Performance Improvements in Ruby 2.5</a><br>
      by Jesus Castello, Ruby Guides
    </div>
    <div style="padding: 6px;">
      <a href="https://mlomnicki.com/yield-self-in-ruby-25/">yield_self in Ruby 2.5</a><br>
      by Michał Łomnicki
    </div>
    <div style="padding: 6px;">
      <a href="https://mlomnicki.com/improved-stascktrace-display-in-ruby25/">Improved stacktrace display in Ruby 2.5</a><br>
      by Michał Łomnicki
    </div>
    <div style="padding: 6px;">
      <a href="http://blog.bigbinary.com/categories/Ruby-2-5">Ruby 2.5 Series</a><br>
      by Amit Choudhary, Mohit Natoo et al, BigBinary
    </div>
    
    <div style="padding: 6px; font-size: 80%;">
      <a href="https://github.com/planetruby/advent2017/blob/master/_includes/broadcasts.html">Add your 2.5 news byte »</a>
    </div>                            
  </div>
  
  <div style="text-align: center; padding-top: 20px;">
    <b>Ruby Event News</b>
  </div>
  <div>
    <!--
     <div style="padding: 6px;">
      <a href="http://rubyhabits.github.io">Vienna Ruby Habits - Wed, Dec 6th</a><br>
      Learning (and practing) Ruby &amp; friends together.
    </div>
     <div style="padding: 6px;">
      <a href="https://meetup.com/vienna-rb/events/245432241/">Vienna.rb Meetup #43 - Thu, Dec 7th</a><br>
      Blockchain! Blockchain! Blockchain!
    </div>
      -->
     <div style="padding: 6px;">
      <a href="https://meetup.com/vienna-ruby-rails/events/245307127">Vienna Ruby Crypto Meetup @ RIAT - Thu, Dec 14th</a><br>
        All about Ruby 'n' cryptocurrencies (Bitcoin &amp; friends)
     </div>
    <div style="padding: 6px;">
      <a href="https://rubyonice.com/2018">Ruby on Ice - Jan 26-28th, 2018</a><br>
      Conference in Tegernsee, Bavaria, Germany
    </div>
    <div style="padding: 6px;">
      <a href="http://2018.rubyparis.org">Paris.rb XXL - Jun 28+29th, 2018</a><br>
      Conference in Paris, France
    </div>
    <div style="padding: 6px;">
      <a href="http://euruko.org">European Ruby Conference (EuRuKo) 2018</a><br>
      Upcoming this summer in Vienna, Austria
    </div>
    <div style="padding: 6px; font-size: 80%;">
      <a href="https://github.com/planetruby/advent2017/blob/master/_includes/broadcasts.html">Add your event news byte »</a>
    </div>                        
  </div>

</div>
