<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} | Planet Ruby</title>

  {% include head.html %}
</head>
<body>


  <div class="container">

      {% include header.html %}


   <h1>Ruby Conferences (&amp; Camps) in 2018 - What's Upcoming?</h1>

    <p>
     An awesome collection about ruby events (incl. conferences, camps, and more):
    </p>

    {% for item in site.data.events2018 %}
      <div style="padding: 4px;">
        <a href="{{ item.url }}">{{ item.title }}</a><br>
        {{ item.subtitle }}
      </div>
    {% endfor %}


    <div style="padding: 4px; font-size: 80%;">
      <a href="https://github.com/planetruby/advent2017/blob/master/_data/events2018.yml">Add your event news byte »</a>
    </div>
  </div>


   {{ content }}

      {% include footer.html %}

  </div>

  {% include github.html %}
</body>
</html>
